$margin-top: 10px;

.cardTemplate {
  background-color: white;
  border-radius: 10px;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  margin-top: $margin-top;
}

.body--coreSheet2 {
  @extend.cardTemplate;
  padding: 2%;
  padding: 2rem 10px;
  .body--coreSheet2--imp {
    color: red;
    #body--coreSheet2--details {
      padding-top: 1rem;
    }
  }
  .body--coreSheet2-rating {
    display: flex;
    padding-right: 10px;
    position: relative;
    justify-content: space-evenly;
    .body--coreSheet2-rating div {
      padding-right: 1.5rem;
    }
    .body--coreSheet2-rating--num {
      font-size: 30px;
      margin-right: 2rem;
    }
  }
}
